@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css");


html, body { 
   height: 100%; 
   background: #E9EDF1; 
   font-family: sans-serif; 
   font-size: 14px; 
 } 


#excelForm {
    display: inline-block;
}

#excelBtn {
    font-size: 1.325em; 
}

.excelbutton {
  border: 2px solid #d2bdff;
  height: 80px;
  width: 200px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.425em;
  margin: 25px;
}
.excelbutton::after {
  content: "예약목록 Excel로 다운";
  position: absolute;
  top: 18%;
  left: 39%;
  transform: translate(-50%);
  color: #d2bdff;
  transition: all 0.1s linear;
}
.excelbutton::before {
  content: "";
  position: relative;
  display: block;
  height: 15px;
  width: 15px;
  background: #d2bdff;
  box-shadow: 0px 0px 10px 3px #0ff;
  margin-left: -8px;
  margin-top: -8px;
  opacity: 0;
  transition: all 0.1s linear;
  border-radius: 100%;
  animation: star 1.3s linear infinite;
}
@keyframes star {
  0% {
    margin-left: -8px;
    margin-top: -8px;
  }
  25% {
    margin-left: 194px;
    margin-top: -8px;
  }
  50% {
    margin-left: 194px;
    margin-top: 75px;
  }
  75% {
    margin-left: -8px;
    margin-top: 75px;
  }
  100% {
    margin-left: -8px;
    margin-top: -8px;
  }
}
.excelbutton:hover::before {
  opacity: 1;
  animation: star 1.3s linear infinite;
}

.excelbutton:hover::after {
  content: "부자되세요";
  top: 33%;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}